In [1]:
import pandas as pd
import requests

In [2]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page=1')

In [8]:
temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [9]:
temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,76.108,8.7,21668
1,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-19,29.725,8.7,3698
2,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,74.836,8.7,16136
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-11-30,43.867,8.6,12891
4,240,The Godfather: Part II,In the continuing saga of the Corleone crime f...,1974-12-20,51.759,8.6,9734

In [10]:
df = pd.DataFrame()

In [11]:
df

Empty DataFrame
Columns: []
Index: []

In [ ]:
for i in range(1,10):
    response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=8265bd1679663a7ea12ac168da84d2e8&language=en-US&page={}'.format(i))
    temp_df = pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]
    df = df.append(temp_df,ignore_index=True)

In [ ]:
df

In [ ]:
df.shape

In [ ]:
df.to_csv('movies.csv')